@font-face {
    font-family: 'Monofonto';
    src: url('../public/monofonto rg.otf') format('opentype');
    font-weight: 100; /* Define default font-weight if needed */
}
.parent {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Adjust this based on your layout */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c2ad5850;
    border-radius: 8px;
    width: 500px;
    padding: 20px;
    border: 2px solid #c2ad587e;
    cursor: url('../public/curs.png'), auto;
}
.staked {
    color: #C2AC58; /* Base text color */
    margin: "10px"
}

.divider {
    width: 100%;
    border: 0.5px solid #C2AC58;
}

.headerContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
   
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}



.Button {
    font-size: 12px;
    color: #C2AC58;
    padding: 10px 20px;
    border-radius: 2px;
    border: none; /* Remove default border */
    transition: background-color 0.1s ease; /* Smooth transitions for background color */
    font-Weight: bold;
    font-family: 'Monofonto', sans-serif; 
    cursor: url('../public/curs.png'), auto;
}

@keyframes flicker {
    0% { box-shadow: 0 0 5px #a3914a; }
    50% { box-shadow: 0 0 15px #C2AC58; }
    100% { box-shadow: 0 0 5px #a3914a; }
}

.Button:hover {
    color: #000000;
    background-color: #C2AC58; /* Background color on hover */
    animation: flicker 0.1s; /* Apply flicker animation */
    animation-fill-mode: forwards; /* Ensure animation persists */
}




.nftSection {
    margin: 20px 0;
    width: 100%;
}


.nftCardContainer {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    font-family: 'Monofonto', sans-serif; 
    display: flex;
    align-items: center;
}
.Titletxt {
    position: relative;
    color: #C2AC58;
    padding: 5px;
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Monofonto', sans-serif;

    display: inline-block; /* Ensure the element fits the text */
    overflow: hidden; /* Hide overflow for loading effect */
}

.Titletxt::before {
    content: '';
    position: absolute;
    right: 2.5px;
    top: -100%; /* Start off-screen to the left */
    width: 100%; /* Full width of the element */
    height: 100%;
    background: linear-gradient(to bottom, #c2ad5800, #c2ad5828,#c2ad5881, #C2AC58, #c2ad5881, #c2ad5828, #c2ad5800); /* Color of the loading bar */
    animation: loadingBar 2s cubic-bezier(0.1, 0.2, 0.1, 1) infinite;
}

@keyframes loadingBar {
    0% {
        
        top: -100%; /* Start from the left */
    }
    50% {
        top: 100%; /* Move to the right, off-screen */

    }
    100% {
        top: -100%; /* Reset back to the left */

    }
}
.Regulartxt {
    margin: 5px;
    color: #C2AC58;
    font-size: 15px;
    font-weight: thick;
    font-family: 'Monofonto', sans-serif;  
}
.MintDetail {
    color: #C2AC58;
    font-size: 15px;
    font-weight: 100;
    font-family: 'Monofonto', sans-serif;  
}
.valuetxt {
    color: #ffffff;
    font-weight: 150;
    font-family: 'Monofonto', sans-serif;
    height: 25px;
    width: 15%;
    background: linear-gradient(to bottom,#ffffff, #C2AC58,#a89549,#C2AC58, #ffffff); /* Red to Blue gradient */
    text-align: center;
    
    border-radius: 2px;
    

}



.workingDwellersCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    font-family: 'Monofonto', sans-serif; 
    margin: "0 10px 10px 10px"; 
    color: "#C2AC58"; 
    align-items: center;
    display: "flex";
}

.noDwellersText {
    margin: 20px;
    color: #C2AC58;
}

.finalDivider {
    width: 100%;
    border: 1px solid #C2AC58;
}
.inputContainer {
    display: flex;
    align-items: center;
}

.inputQuantity {
    width: 60px;  /* Width of the input */
    margin-left: 10px; 
    margin-right: 10px;  /* Spacing to the right */
    border-radius: 5px;  /* Rounded corners */
    padding: 5px;  /* Inner padding */
    border: 4px solid #C2AC58;  /* Border color */
    background-color: transparent;  /* Background color */
    
    color: #C2AC58;  /* Text color */
    font-size: 16px;  /* Font size */
    font-family: 'Monofonto', sans-serif;  /* Font family */
    text-align: center;  /* Center the text */
    transition: border 0.15s ease-in-out;  /* Transition for border on focus */
}

.inputQuantity:focus {
    outline: none;  /* Remove default outline */
    border: 1px solid #C2AC58;
    color: #C2AC58;  /* Change border color on focus */
    
}


.buttoninput {
    background-color: #c2ad5800;  /* Button background color */
    color: #C2AC58;  /* Button text color */
    border: none;  /* No border */
    border-radius: 5px;  /* Rounded corners */
    padding: 5px 10px;  /* Padding */
    cursor: pointer;  /* Pointer cursor on hover */
    font-family: 'Monofonto', sans-serif;  /* Font family */
    margin:  5px;  /* Spacing between buttons and input */
    cursor: url('../public/curs.png'), auto;
}

.buttoninput:hover {
    background-color: #C2AC58; 
    color: #000000;  /* Change color on hover */
    animation: flicker 0.1s; 
    

}

.inputQuantity {
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none; /* Standard */
    cursor: url('../public/curs.png'), auto;
}



.inputQuantity::-webkit-inner-spin-button,
.inputQuantity::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Hide the spinner in Chrome/Safari */
    margin: 0; /* Remove margin */
}
